/cache
**/cache
/.cache
out
**/out
/data
**/data
/node_modules
**/node_modules
/build
**/build
/dist
**/dist
**/dist-newstyle
/.env
**/.env
*.env
lerna-debug.log
lcov.info

*.ignore.*
yarn-error.log
package-lock.json
.DS_Store
.idea

.vscode/
*-workspace
.npmrc
.cursor

# echidna litters
crytic-export
corpus

/broadcast
/.direnv

.pnpm-store
.corepack
**/.yarn/install-state.gz
**/.yarn/cache
.tmp
