out
**/out
/data
**/data
/node_modules
**/node_modules
/build
**/build
/reports
**/reports
/dist
**/dist
**/dist-newstyle
/.env
**/.env
*.env
lerna-debug.log
/coverage.json
/coverage

*.ignore.*
yarn-error.log
package-lock.json
.DS_Store


.vscode/
*-workspace
.npmrc

