/cache
**/cache
out
**/out
/data
**/data
/node_modules
**/node_modules
/build
**/build
/dist
**/dist
**/dist-newstyle
/.env
**/.env
*.env
lerna-debug.log
lcov.info
.envrc

*.ignore.*
yarn-error.log
package-lock.json
.DS_Store
.idea


.vscode/
*-workspace
.npmrc
