[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "examples/simple-acl-close/lib/ds-test"]
	path = examples/simple-acl-close/lib/ds-test
	url = https://github.com/dapphub/ds-test
