# REFERENCE: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# By default no owner, so everyone in the protocal devs group can approve the pull request
* @superfluid-finance/protocol-devs

# Workflow files are gatekept by MiaoZC
/.github/ @hellwolf
/tasks/ @hellwolf
/.yarn/ @hellwolf

# Packages
#
/packages/spec-haskell/ @hellwolf
/packages/ethereum-contracts/ @hellwolf @0xdavinchee
/packages/metadata @hellwolf @d10r @ngmachado @0xdavinchee @kasparkallas @vmichalik @philipandersson
/packages/js-sdk/ @hellwolf @kasparkallas @0xdavinchee
/packages/subgraph/ @0xdavinchee @kasparkallas @hellwolf
/packages/sdk-core/ @0xdavinchee @kasparkallas @hellwolf
/packages/sdk-redux/ @0xdavinchee @kasparkallas @hellwolf
/packages/hot-fuzz/ @hellwolf
