* {
    margin: 0;
    padding: 0;
}

main {
    font-family: Helvetica, sans-serif;
    background: #f0f0f0;
}

header {
    background: #282828;
    color: #fff;
    display: flex;
    align-items: center;
    height: 72px;
    padding: 0 16px;
    box-shadow: 0 0 8px #000;
}

.content {
    height: calc(100vh - 72px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: 1px solid #888;
    border-radius: 4px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
    min-width: 300px;
}

.card-header {
    padding: 8px 0;
    border-bottom: 1px solid #888;
    margin: 0 8px;
}

.card-content {
    padding: 8px;
    display: flex;
    align-items: center;
    min-height: 75px;
}

button {
    border: none;
    padding: 8px;
    color: #f0f0f0;
    background: #303030;
    border-radius: 4px;
    width: 100%;
    transition: opacity 0.2s;
}

button:focus {
    outline: none;
}

button:active {
    opacity: 0.5;
}