name: Reusable Workflow | Setup, Deploy and Test Local Subgraph

on:
  workflow_call:
    inputs:
      subgraph-release:
        required: true
        type: string
      run-sdk-core-tests:
        required: true
        type: boolean

jobs:
  subgraph-unit-tests:
    name: Run subgraph unit tests
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: "yarn"

      - name: "Install dependencies"
        run: yarn install --frozen-lockfile

      - name: "Build contracts"
        run: yarn build
        working-directory: ./packages/ethereum-contracts

      - name: "Run unit tests"
        run: yarn matchstick
        working-directory: ./packages/subgraph

  subgraph-end-to-end-integration:
    name: Run subgraph integration tests

    runs-on: ubuntu-latest

    env:
      subgraph-working-directory: ./packages/subgraph
      sdk-core-working-directory: ./packages/sdk-core

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: "yarn"

      - name: "Install dependencies"
        run: yarn install --frozen-lockfile

      - name: "Build contracts"
        run: yarn build
        working-directory: ./packages/ethereum-contracts

      - name: "Start hardhat node"
        run: |
          ./tasks/startHardhatNode.sh start
        working-directory: ${{ env.sdk-core-working-directory }}

      - name: "Build SDK-Core"
        # build sdk-core because of auto linking to dependency
        run: yarn build
        working-directory: ${{ env.sdk-core-working-directory }}

      - name: "Deploy Framework and Tokens"
        run: npx hardhat run scripts/runDeployContractsAndToken.ts --network localhost
        working-directory: ${{ env.subgraph-working-directory }}

      - name: "Prepare files for local testing"
        run: yarn prepare-local
        working-directory: ${{ env.subgraph-working-directory }}

      - name: "Run setup-graph-node"
        run: |
          chmod +x ./tasks/setup-graph-node.sh
          ./tasks/setup-graph-node.sh
        working-directory: ${{ env.subgraph-working-directory }}

      - name: "Docker compose"
        run: docker-compose up &
        working-directory: ${{ env.subgraph-working-directory }}

      - name: "Run subgraph integration test suite"
        if: inputs.run-sdk-core-tests == false
        run: yarn test
        working-directory: ${{ env.subgraph-working-directory }}
      #

      # test local subgraph w/ SDK-core
      - name: "Setup subgraph test environment"
        if: inputs.run-sdk-core-tests == true
        run: ./tasks/testenv-ctl.sh start
        working-directory: ${{ env.subgraph-working-directory }}

      - name: "Run SDK-Core tests and test subgraph query with local subgraph"
        if: inputs.run-sdk-core-tests == true
        run: |
          yarn generate-graphql-schema:${{ inputs.subgraph-release }}
          yarn generate
          npx hardhat test --network localhost
        working-directory: ${{ env.sdk-core-working-directory }}
        env:
          SUBGRAPH_RELEASE_TAG: ${{ inputs.subgraph-release }}

      # test local subgraph schema against sdk-core schema representation
      # this will break if there is an inconsistency between the subgraph schema
      # and the sdk-core schema (if not all events are mapped)
      - name: "Test new local subgraph schema against existing SDK-Core build"
        run: |
          npx get-graphql-schema http://localhost:8000/subgraphs/name/superfluid-test > src/subgraph/schema.graphql
          yarn build
        working-directory: ${{ env.sdk-core-working-directory }}