name: Reusable Workflow | Test Spec Haskell

on:
  workflow_call:

jobs:
  test-spec-haskell:
    name: Test Spec Haskell - Linux - ${{ matrix.compiler }}

    runs-on: ubuntu-latest

    continue-on-error: ${{ matrix.allow-failure }}

    strategy:
      matrix:
        include:
          - compiler: ghc-9.2.5
            devShell: ci-spec-ghc925
            allow-failure: false
      fail-fast: false

    steps:
      - uses: actions/checkout@v3

      - uses: cachix/install-nix-action@v19
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: nix devShell setup
        run: |
          echo 'nix develop .#${{ matrix.devShell }} -c "$@"' > devShell.sh

      - name: cache
        uses: actions/cache@v2
        with:
          key: ${{ runner.os }}-${{ matrix.compiler }}-${{ github.sha }}
          path: ~/.cabal/store
          restore-keys: ${{ runner.os }}-${{ matrix.compiler }}-

      - name: lint
        run: |
          cd packages/spec-haskell
          make lint
        shell: sh devShell.sh {0}

      - name: build
        run: |
          cd packages/spec-haskell
          make build
        shell: sh devShell.sh {0}

      - name: tests
        run: |
          cd packages/spec-haskell
          make test
        shell: sh devShell.sh {0}

      - name: haddock
        run: |
          cd packages/spec-haddock
          make docs-haddock
        shell: sh devShell.sh {0}
