name: Reusable Workflow | Test Subgraph on Previous SDK-Core Versions

on:
  workflow_call:
    inputs:
      subgraph-release:
        required: true
        type: string
      subgraph-endpoint:
        required: true
        type: string

jobs:
  build-and-test-live-subgraph-previous-releases:
    name: Build and test current subgraph release with previous sdk-core versions

    runs-on: ubuntu-latest

    strategy:
      matrix:
        version: [v0.3.2, v0.4.0, v0.4.1, v0.4.2, v0.4.3, latest]

    env:
      contracts-working-directory: ./packages/ethereum-contracts
      sdk-core-working-directory: ./packages/sdk-core

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: "yarn"

      - name: "Install dependencies"
        run: yarn install --frozen-lockfile

      - name: "Build contracts"
        run: yarn build
        working-directory: ${{ env.contracts-working-directory }}

      - name: "Start hardhat node"
        run: |
          ./tasks/startHardhatNode.sh start
        working-directory: ${{ env.sdk-core-working-directory }}
      
      - name: "Build SDK-Core"
        # build sdk-core because of auto linking to dependency
        run: yarn build
        working-directory: ${{ env.sdk-core-working-directory }}

      - name: "Deploy Framework and Tokens"
        run: npx hardhat run ops-scripts/runDeployContractsAndToken.ts
        working-directory: ${{ env.contracts-working-directory }}

      - name: "Prepare files for local testing"
        run: yarn prepare-local
        working-directory: ./packages/subgraph

      - name: "Run setup-graph-node"
        run: |
          chmod +x ./tasks/setup-graph-node.sh
          ./tasks/setup-graph-node.sh
        working-directory: ./packages/subgraph

      - name: "Docker compose"
        run: docker-compose up &
        working-directory: ./packages/subgraph

      - name: "Prepare and Deploy Local Subgraph"
        run: yarn testenv:start
        working-directory: ./packages/subgraph
      #

      - name: "Install @superfluid-finance/sdk-core@${{ matrix.version}} and test subgraph queries"
        run: |
          yarn add -D @superfluid-finance/sdk-core@${{ matrix.version }}
          yarn run-query-tests
        working-directory: ./packages/sdk-core/previous-versions-testing
        env:
          SUBGRAPH_RELEASE_TAG: ${{ inputs.subgraph-release }}
          SUBGRAPH_ENDPOINT: ${{ inputs.subgraph-endpoint }}

      - name: "Stop Hardhat node"
        run: ./tasks/startHardhatNode.sh stop
        working-directory: ${{ env.sdk-core-working-directory }}