name: Reusable Workflow | Check SDK-Core Schema Against Deployed Subgraphs

on:
  workflow_call:
    inputs:
      subgraph-release:
        required: true
        type: string

jobs:
  check-subgraph-indexing-statuses-on-deployed-networks:
    name: Check SDK-Core Schema Against Deployed Subgraphs (${{ inputs.subgraph-release }})

    runs-on: ubuntu-latest

    env:
      contracts-working-directory: ./packages/ethereum-contracts
      sdk-core-working-directory: ./packages/sdk-core

    steps:
      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v2.2.2
        with:
          version: 7

      - name: Use Node.js 16.x
        uses: actions/setup-node@v1
        with:
          node-version: 16.x

      - name: "Install contract dependencies"
        run: pnpm install --frozen-lockfile
        working-directory: ${{ env.contracts-working-directory }}

      - name: "Build contracts"
        run: yarn build:contracts
        working-directory: ${{ env.contracts-working-directory }}

      - name: "Install packages and start hardhat node"
        run: |
          pnpm install --frozen-lockfile
          ./tasks/startHardhatNode.sh start
        working-directory: ${{ env.sdk-core-working-directory }}

      - name: Run schema check
        run: |
          ./tasks/setupTestEnvironment.sh
          ./tasks/testSchemasAndQueries.sh
        working-directory: ${{ env.sdk-core-working-directory }}
        env:
          SUBGRAPH_RELEASE_TAG:  ${{ inputs.subgraph-release }}

      - name: "Stop Hardhat node"
        run: ./tasks/startHardhatNode.sh stop
        working-directory: ${{ env.sdk-core-working-directory }}