name: Reusable Workflow | Test Ethereum Contracts

on:
  workflow_call:
    inputs:
      run-coverage-tests:
        required: true
        type: boolean

jobs:
  # Ahhhhhhhhhh, it is silly, but the only way to preparing conditional matrix.
  # Ref: https://stackoverflow.com/questions/65384420/how-do-i-make-a-github-action-matrix-element-conditional
  matrix-prep:
    name: Preparing Conditional Strategy Matrix

    runs-on: ubuntu-latest

    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}

    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v3

    - id: set-matrix
      run: |
        if [ "${{ inputs.run-coverage-tests }}" == "true" ];then
          echo "matrix={\"node-version\": [20]}" >> "$GITHUB_OUTPUT"
        else
          echo "matrix={\"node-version\": [18, 20]}" >> "$GITHUB_OUTPUT"
        fi

  test-ethereum-contracts:
    name: Test ethereum-contracts

    needs: [matrix-prep]

    runs-on: ubuntu-latest

    strategy:
      matrix: ${{ fromJson(needs.matrix-prep.outputs.matrix) }}

    defaults:
      run:
        shell: nix develop .#ci-node${{ matrix.node-version }} -c bash -xe {0}

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - uses: cachix/install-nix-action@v19
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Initialize devShell
        run: |
          node --version
          yarn --version
          solc --version

      - name: Yarn Install
        run: |
          yarn install --frozen-lockfile
          npx tsc --version
          npx hardhat --version

      - name: Lint and build
        run: |
          yarn lint
          yarn build

      ########################################
      ## Test Suite
      ########################################
      - name: Run test suite
        if: inputs.run-coverage-tests == false
        run: |
          echo "FOUNDRY_PROFILE=ci" >> $GITHUB_ENV
          echo "FOUNDRY_SOLC_VERSION=$SOLC" >> $GITHUB_ENV
          yarn test
          cat testing-benchmark.json
        working-directory: ./packages/ethereum-contracts
        env:
          HARDHAT_TEST_JOBS: 4
          HARDHAT_RUN_PARALLEL: true

      ########################################
      ## Coverage Test
      ########################################
      - name: Run coverage test
        if: inputs.run-coverage-tests == true
        run: |
          echo "FOUNDRY_PROFILE=ci" >> $GITHUB_ENV
          echo "FOUNDRY_SOLC_VERSION=$SOLC" >> $GITHUB_ENV
          yarn test-coverage
        working-directory: ./packages/ethereum-contracts
        # NOTE: currently coverage report is not working properly in parallel mode.
        #
        # Upstream issue: https://github.com/NomicFoundation/hardhat/issues/4310
        # Though more likely, it is an issue to https://github.com/sc-forks/solidity-coverage
        env:
          # NOTE: 4 workers would overwhelm the free-tier github runner
          NODE_OPTIONS: --max_old_space_size=4096
          IS_COVERAGE_TEST: true
          HARDHAT_TEST_JOBS: 2
          HARDHAT_RUN_PARALLEL: false

      - name: Clean up and merge coverage artifacts
        if: inputs.run-coverage-tests == true
        run: ./tasks/coverage-cleanup.sh
        working-directory: ./packages/ethereum-contracts

      - name: Create coverage artifact
        if: inputs.run-coverage-tests == true
        uses: actions/upload-artifact@v3
        with:
          name: ethereum-contracts-coverage
          path: |
            packages/ethereum-contracts/coverage/
