name: CI Canary
env:
  GITHUB_TOKEN: ${{ secrets.CI_GITHUB_TOKEN }}

on:
  push:
    branches: ["dev"]
    paths:
      - 'package.json'
      - 'packages/**'
      # - '**.md' commented-out because README updates should go to the packages
      - '.github/workflows/ci.canary.yml'

jobs:
  build:
    name: Build and test of dev branch

    if: github.repository == 'superfluid-finance/protocol-monorepo'

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x, 14.x]

    steps:
      - uses: actions/checkout@v2

      - name: Show contexts
        run: |
          echo github.event_name: ${{ github.event_name }}
          echo github.sha: ${{ github.sha }}
          echo github.repository: ${{ github.repository }}
          echo github.ref: ${{ github.ref }}
          echo github.head_ref: ${{ github.head_ref }}
          echo github.base_ref: ${{ github.base_ref }}

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install, lint, build, and test
        run: |
          yarn install --frozen-lockfile
          yarn lint
          yarn build
          yarn test
        env:
          GOERLI_PROVIDER_URL: ${{ secrets.GOERLI_PROVIDER_URL }}

  coverage:
    name: Run coverage test of dev branch

    if: github.repository == 'superfluid-finance/protocol-monorepo'

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x

      - name: Run coverage test
        run: |
          yarn install --frozen-lockfile
          yarn build
          yarn workspace @superfluid-finance/ethereum-contracts test-coverage

      - name: Create coverage artifact
        uses: actions/upload-artifact@v2
        with:
          name: coverage
          path: |
            packages/ethereum-contracts/coverage/
            packages/ethereum-contracts/coverage.json

      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          path-to-lcov: packages/ethereum-contracts/coverage/lcov.info
          github-token: ${{ secrets.GITHUB_TOKEN }}

  sdk-core-coverage:
    name: Run coverage test of sdk-core of dev branch

    if: github.repository == 'superfluid-finance/protocol-monorepo'

    runs-on: ubuntu-latest

    env:
      subgraph-working-directory: ./packages/subgraph
      contracts-working-directory: ./packages/ethereum-contracts
      js-sdk-working-directory: ./packages/js-sdk
      sdk-core-working-directory: ./packages/sdk-core

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      
      - name: "Install yarn and ganache-cli"
        run: npm install -g yarn ganache-cli

      - name: "Run ganache-cli node"
        run: ganache-cli -h 0.0.0.0 -m "test test test test test test test test test test test junk" &
        working-directory: ${{ env.subgraph-working-directory }}
 
      - name: "Install contract dependencies"
        run: yarn install
        working-directory: ${{ env.contracts-working-directory }}

      - name: "Build contracts"
        run: yarn run build:contracts
        working-directory: ${{ env.contracts-working-directory }}
     
      - name: "Get abi.js file for js-sdk to deploy locally"
        run: |
          chmod +x ./tasks/build-abi-js.sh
          ./tasks/build-abi-js.sh
        working-directory: ${{ env.sdk-working-directory }}

      - name: "Deploy contracts and token locally"
        run: yarn deploy-contracts-local
        working-directory: ${{ env.subgraph-working-directory }}

      - name: "Generate ABI and typechain files"
        run: yarn generate-abi-files && yarn generate-web3-types
        working-directory: ${{ env.sdk-core-working-directory }}

      - name: "Run test suite"
        run: yarn test
        working-directory: ${{ env.sdk-core-working-directory }}

      - name: "Run coverage"
        run: yarn coverage
        working-directory: ${{ env.sdk-core-working-directory }}

      - name: Create coverage artifact
        uses: actions/upload-artifact@v2
        with:
          name: coverage
          path: packages/sdk-core/coverage/
      
      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          path-to-lcov: packages/sdk-core/coverage/lcov.info
          github-token: ${{ secrets.GITHUB_TOKEN }}

  publish:
    name: NPM publish dev branch

    needs: [build, coverage]

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
          registry-url: https://registry.npmjs.org/

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Build
        run: yarn build

      - name: Setup canary package versions locally
        run: |
          shortRev=$(git rev-parse --short ${{ github.sha }})
          preId=dev.${shortRev}
          yarn lerna version prerelease --yes --no-git-tag-version --preid ${preId}

      - name: Publish to npm
        run: |
          tasks/npm-publish.sh packages/ethereum-contracts dev
          tasks/npm-publish.sh packages/js-sdk dev
          tasks/npm-publish.sh packages/sdk-core dev
          tasks/npm-publish.sh packages/sdk-redux dev
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPMJS_TOKEN: ${{ secrets.NPMJS_TOKEN }}

  deploy-dev:
    name: Deploy Canary to dev-testnets

    needs: [build, coverage]

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        network: [goerli]

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x

      - name: Build
        run: |
          yarn install --frozen-lockfile
          yarn build

      - name: Deploy to ${{ matrix.network }}
        run: |
          cd packages/ethereum-contracts
          npx truffle exec --network ${{ matrix.network }} scripts/deploy-test-environment.js
        env:
          RELEASE_VERSION: master
          GOERLI_MNEMONIC: ${{ secrets.BUILD_AGENT_MNEMONIC  }}
          GOERLI_PROVIDER_URL: ${{ secrets.GOERLI_PROVIDER_URL }}
