name: CI | Feature Branches
env:
  GITHUB_TOKEN: ${{ secrets.CI_GITHUB_TOKEN }}

on:
  # TODO We no longer do these, instead you always need to create a pull request
  # Triggered by internal pushes
  # push:
  #   branches-ignore: ["dev", "release-*"]
  #
  # NOTE To continue the old behaviour, these code snipeets is needed in the check job
  ## triggered by internal pushes or external PRs
  ## if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != 'superfluid-finance/protocol-monorepo'

  pull_request:

jobs:
  check:
    name: Checking what packages need to be built

    runs-on: ubuntu-latest

    outputs:
      build_ethereum_contracts: ${{ env.BUILD_ETHEREUM_CONTRACTS }}
      build_js_sdk: ${{ env.BUILD_JS_SDK }}
      build_subgraph: ${{ env.BUILD_SUBGRAPH }}
      build_sdk_core: ${{ env.BUILD_SDK_CORE }}
      build_hardhat_deployer: ${{ env.BUILD_HARDHAT_DEPLOYER }}
      build_spec_haskell: ${{ env.BUILD_SPEC_HASKELL }}

    steps:
      - name: Show contexts
        run: |
          echo github.event_name: ${{ github.event_name }}
          echo github.sha: ${{ github.sha }}
          echo github.repository: ${{ github.repository }}
          echo github.ref: ${{ github.ref }}
          echo github.head_ref: ${{ github.head_ref }}
          echo github.base_ref: ${{ github.base_ref }}

      - uses: actions/checkout@v3

      - name: Check changeset
        run: tasks/check-changeset.sh ${{ github.sha }} dev

  test-ethereum-contracts:
    name: Build and test ethereum-contracts (Feature Branch)

    runs-on: ubuntu-latest

    needs: [check]
    if: needs.check.outputs.build_ethereum_contracts

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - uses: pnpm/action-setup@v2.2.2
        with:
          version: 7

      - name: Check changeset
        run: tasks/check-changeset.sh ${{ github.sha }} dev

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install, lint and build
        run: |
          pnpm install --frozen-lockfile
          yarn lint
          yarn build

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: Test ethereum-contracts
        run: |
          yarn workspace @superfluid-finance/ethereum-contracts test

  coverage-ethereum-contracts:
    name: Build and test coverage of ethereum-contracts (Feature Branch)

    runs-on: ubuntu-latest

    needs: [check]
    if: needs.check.outputs.build_ethereum_contracts

    steps:
      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v2.2.2
        with:
          version: 7

      - name: Use Node.js 16.x
        uses: actions/setup-node@v1
        with:
          node-version: 16.x
      - name: Install and build
        run: |
          pnpm install --frozen-lockfile
          yarn build

      - name: Run coverage test
        run: |
          yarn workspace @superfluid-finance/ethereum-contracts test-coverage

  test-js-sdk:
    name: Build and test js-sdk (Feature Branch)

    runs-on: ubuntu-latest

    needs: [check]
    if: needs.check.outputs.build_js_sdk

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v2.2.2
        with:
          version: 7

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install, lint and build
        run: |
          pnpm install --frozen-lockfile
          yarn lint
          yarn build

      - name: Test js-sdk
        run: |
          yarn workspace @superfluid-finance/js-sdk test
        env:
          POLYGON_MAINNET_PROVIDER_URL: ${{ secrets.POLYGON_MAINNET_PROVIDER_URL }}

  # subgraph integration test
  test-subgraph:
    uses: ./.github/workflows/call.setup-deploy-and-test-local-subgraph.yml
    name: Build and Test Subgraph (Feature Branch)
    needs: [check]
    if: needs.check.outputs.build_subgraph
    with:
      subgraph-release: ''
      run-sdk-core-tests: false

  # sdk-core integration test + feature subgraph w/ feature sdk-core
  test-sdk-core:
    uses: ./.github/workflows/call.test-sdk-core.yml
    name: Build and Test SDK-Core (Feature Branch)
    needs: [check]
    if: needs.check.outputs.build_sdk_core
    with:
      subgraph-release: feature

  # test latest and previous version of sdk-core with current subgraph
  test-subgraph-on-previous-sdk-core-versions:
    uses: ./.github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
    name: Test Query Schema and Queries Against Local and Deployed Feature Subgraphs with Previous SDK-Core Versions
    needs: [check]
    if: needs.check.outputs.build_subgraph || needs.check.outputs.build_sdk_core
    with:
      subgraph-release: feature
      subgraph-endpoint: http://localhost:8000/subgraphs/name/superfluid-test

  # test query and local/deployed subgraph schemas in sync and query works
  test-query-schema-against-deployed-feature-subgraphs:
    uses: ./.github/workflows/call.check-query-schema-against-subgraph.yml
    name: Test Query Schema and Queries Against Local and Deployed Feature Subgraphs
    needs: [check]
    if: needs.check.outputs.build_sdk_core
    with:
      subgraph-release: feature

  test-hardhat-deployer:
    uses: ./.github/workflows/call.test-hardhat-deployer.yml
    name: Build and Test Hardhat-Deployer (Feature Branch)
    needs: [check]
    if: needs.check.outputs.build_hardhat_deployer

  test-spec-haskell:
    uses: ./.github/workflows/call.test-spec-haskell.yml
    name: Build and Test Spec Haskell (Feature Branch)
    needs: [check]
    if: needs.check.outputs.build_spec_haskell

  all-packages-tested:
    name: All packages tested (Feature Branch)

    runs-on: ubuntu-latest

    if: (github.event_name == 'push' || github.event.pull_request.head.repo.full_name != 'superfluid-finance/protocol-monorepo') && always()
    needs: [test-ethereum-contracts, coverage-ethereum-contracts, test-js-sdk, test-subgraph, test-sdk-core, test-spec-haskell, test-subgraph-on-previous-sdk-core-versions, test-query-schema-against-deployed-feature-subgraphs, test-hardhat-deployer]

    steps:
      - name: Test Results
        run: |
          function check_result() {
            local package_name="$1"
            local result="$2"
            if [ "$result" == "skipped" ];then
              echo "Skipped $package_name package."
            else
              echo "Checking if $package_name package test passes..."
              test "$result" == "success"
              echo "Passed."
            fi
          }
          check_result ethereum-contracts ${{ needs.test-ethereum-contracts.result }}
          check_result js-sdk ${{ needs.test-js-sdk.result }}
          check_result subgraph ${{ needs.test-subgraph.result }}
          check_result sdk-core ${{ needs.test-sdk-core.result }}
          check_result spec-haskell ${{ needs.test-spec-haskell.result }}
          check_result subgraph-on-previous-sdk-core-versions ${{ needs.test-subgraph-on-previous-sdk-core-versions.result }}
          check_result query-schema-against-deployed-feature-subgraph ${{ needs.test-query-schema-against-deployed-feature-subgraphs.result }}
          check_result test-hardhat-deployer ${{ needs.test-hardhat-deployer.result }}
