name: CI

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:

  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x]

    steps:

    - uses: actions/checkout@v1

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: npm install, build, and test
      run: |
        npm ci
        npm run build
        npm run test

  # coverage:
  # 
  #   runs-on: ubuntu-latest
  # 
  #   steps:
  # 
  #   - uses: actions/checkout@v1
  # 
  #   - name: Use Node.js 12.x
  #     uses: actions/setup-node@v1
  #     with:
  #       node-version: 12.x
  # 
  #   - name: npm install, build, and test
  #     run: |
  #       npm ci
  #       npm run test-coverage
  # 
  #   - name: Coveralls
  #     # only report coverage for master branch push
  #     if: github.event_name  == 'push'
  #     uses: coverallsapp/github-action@master
  #     with:
  #       github-token: ${{ secrets.GITHUB_TOKEN }}
