name: Dev CI/CD

on:
  push:
    branches:
    - '*'
  pull_request:
    branches:
    - '*'
    types: [opened]

jobs:

  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x]

    steps:

    - uses: actions/checkout@v2

    - name: Show contexts
      run: |
        echo github.event_name: ${{ github.event_name }}
        echo github.sha: ${{ github.sha }}
        echo github.repository: ${{ github.repository }}
        echo github.ref: ${{ github.ref }}
        echo github.head_ref: ${{ github.head_ref }}
        echo github.base_ref: ${{ github.base_ref }}

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: npm install, build, and test
      run: |
        npm ci
        npm run build
        npm run test

    - name: Upload eth gas report
      uses: actions/upload-artifact@v2
      with:
        name: contracts-eth-gas-report
        path: build/contracts-eth-gas-report.txt

  coverage:

    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v2

    - name: Use Node.js 12.x
      uses: actions/setup-node@v1
      with:
        node-version: 12.x

    - name: npm install, build, and test
      run: |
        npm ci
        npm run test-coverage

    - name: Create coverage artifact
      # only report coverage for branch push
      if: github.event_name  == 'push'
      uses: actions/upload-artifact@v2
      with:
        name: coverage
        path: coverage

  deploy-goerli:

    needs: [build, coverage]

    runs-on: ubuntu-latest

    # only publish npm package for branch push
    if: github.event_name  == 'push'

    steps:

    - uses: actions/checkout@v2

    - uses: actions/setup-node@v1
      with:
        node-version: '12.x'
        registry-url: 'https://npm.pkg.github.com'

    - name: Build package
      run: |
        npm ci
        npm run build
      env:
        NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Determine release version
      run: |
        RELEASE_VERSION=`basename "$GITHUB_REF"`
        echo "::set-env name=RELEASE_VERSION::$RELEASE_VERSION"
        echo "Release version is $RELEASE_VERSION"

    - name: Deploy to goerli
      run: |
        npx truffle exec --network goerli scripts/deploy.js
      env:
        GOERLI_MNEMONIC: ${{ secrets.GOERLI_MNEMONIC }}
        GOERLI_PROVIDER_URL: ${{ secrets.GOERLI_PROVIDER_URL }}

  npm-publish:

    needs: [build, coverage, deploy-goerli]

    runs-on: ubuntu-latest

    # only publish npm package for master branch push
    if: github.event_name  == 'push' && github.ref == 'refs/heads/master'

    steps:

    - uses: actions/checkout@v2

    - uses: actions/setup-node@v1
      with:
        node-version: '12.x'
        registry-url: 'https://npm.pkg.github.com'

    - name: Build and Publish package
      run: |
        npm ci
        npm run build
        .github/workflows/npm-publish.sh
      env:
        NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
