name: CI Feature Branches

on:
  # triggered by internal pushes
  push:
    branches-ignore: ["master", "dev"]
    paths-ignore:
      - '.github/workflows/**'
      - '**.md'
      - 'examples/**'
    paths:
      - 'packages/**'
      - '.github/workflows/ci.yml'
      - '.github/workflows/create-pr-artifact.yml'
  # triggered by external PRs (filtered in the `check` job)
  pull_request:

jobs:
  check:

    runs-on: ubuntu-latest

    # triggered by internal pushes or external PRs
    if: ${{ github.event_name == 'push' || github.event.pull_request.head.repo.full_name != 'superfluid-finance/protocol-monorepo' }}

    steps:
      - name: Show contexts
        run: |
          echo github.event_name: ${{ github.event_name }}
          echo github.sha: ${{ github.sha }}
          echo github.repository: ${{ github.repository }}
          echo github.ref: ${{ github.ref }}
          echo github.head_ref: ${{ github.head_ref }}
          echo github.base_ref: ${{ github.base_ref }}

  test-ethereum-contracts:
    name: Build and test ethereum-contracts (Feature Branch)

    runs-on: ubuntu-latest

    needs: [check]

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - uses: actions/checkout@v2

      - name: Check changeset
        run: tasks/check-changeset.sh ${{ github.sha }} dev

      - name: Use Node.js ${{ matrix.node-version }}
        if: env.BUILD_ANYTHING == 1
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install, lint and build
        if: env.BUILD_ANYTHING == 1
        run: |
          yarn install --frozen-lockfilepull_request
          yarn lint
          yarn build

      - name: Test ethereum-contracts if necessasry
        if: env.BUILD_ETHEREUM_CONTRACTS == 1
        run: |
          yarn workspace @superfluid-finance/ethereum-contracts test

  test-js-sdk:
    name: Build and test js-sdk (Feature Branch)

    runs-on: ubuntu-latest

    needs: [check]

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - uses: actions/checkout@v2

      - name: Check changeset
        run: tasks/check-changeset.sh ${{ github.sha }} dev

      - name: Use Node.js ${{ matrix.node-version }}
        if: env.BUILD_ANYTHING == 1
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install, lint and build
        if: env.BUILD_ANYTHING == 1
        run: |
          yarn install --frozen-lockfilepull_request
          yarn lint
          yarn build

      - name: Test js-sdk if necessasry
        if: env.BUILD_JS_SDK == 1
        run: |
          yarn workspace @superfluid-finance/js-sdk test
