name: Deploy Subgraph
env:
  GITHUB_TOKEN: ${{ secrets.CI_GITHUB_TOKEN }}

on:
  workflow_dispatch:
    inputs:
      release_branch:
        description: 'Release branch (feature/dev/v1...)'
        required: true
        type: string
        default: 'feature'
      deploy_to_satsuma_endpoint:
        required: true
        type: boolean
        description: "Explicitly declare whether you want to deploy to Satsuma's endpoint."
      network:
        required: false
        type: string
        description: 'Network to deploy to (matic/xdai/kovan...)'
      satsuma_version_label:
        required: false
        type: string
        description: 'Version label for Satsuma deployment, we are not using this for hosted deployments (format: v0.0.1)'

jobs:
  deploy-subgraph:
    uses: ./.github/workflows/call.deploy-subgraph.yml
    name: Deploy Subgraph
    with:
      release_branch: ${{ github.event.inputs.release_branch }}
      deploy_to_satsuma_endpoint: ${{ github.event.inputs.deploy_to_satsuma_endpoint == 'true' }}
      network: ${{ github.event.inputs.network }}
      satsuma_version_label: ${{ github.event.inputs.satsuma_version_label }}
    secrets:
      THE_GRAPH_ACCESS_TOKEN: ${{ secrets.THE_GRAPH_ACCESS_TOKEN }}
      SATSUMA_DEPLOY_KEY: ${{ secrets.SATSUMA_DEPLOY_KEY }}
