name: Deploy to Testnets

on:
  workflow_dispatch:
    inputs:
      release_version:
        description: 'Protocol release version (test/master/v1/etc.)'
        required: true
        default: 'test'
      only_network:
        description: 'Only a specific network is to be deployed'
        required: false
      environments:
        description: 'Additional env vars, separated by semicolons'
        required: false

jobs:

  deploy-to-testnets:
    name: Deploy to testnets

    runs-on: ubuntu-latest

    env:
      RELEASE_VERSION: ${{ github.event.inputs.release_version }}
      DEFAULT_MNEMONIC: ${{ secrets.BUILD_AGENT_MNEMONIC }}
      PROVIDER_URL_TEMPLATE: ${{ secrets.PROVIDER_URL_TEMPLATE }}

    defaults:
      run:
        shell: nix develop -c bash -xe {0}
  
    strategy:
      fail-fast: false
      matrix:
          network: [eth-goerli, eth-sepolia, polygon-mumbai, optimism-goerli, arbitrum-goerli, avalanche-fuji, base-goerli, polygon-zkevm-testnet]

    steps:
      - uses: actions/checkout@v3

      # if only_network is set, skip all steps until the value matches one of the entries in matrix.network
      - name: Check only_network
        if: ${{ github.event.inputs.only_network != '' && github.event.inputs.only_network != matrix.network }}
        run: echo "DO_SKIP=1" >> "$GITHUB_ENV"

      - uses: cachix/install-nix-action@v19
        if: env.DO_SKIP != 1
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build
        if: env.DO_SKIP != 1
        run: |
          yarn install --frozen-lockfile
          yarn build-for-contracts-dev

      - name: Deploy to ${{ matrix.network }}
        if: env.DO_SKIP != 1
        run: |
          cd packages/ethereum-contracts
          echo "${{ github.event.inputs.environments }}" | sed 's/;/\n/' > .env
          npx truffle exec --network ${{ matrix.network }} ops-scripts/deploy-test-environment.js

      - name: Etherscan verification of ${{ matrix.network }} deployment
        if: env.DO_SKIP != 1
        run: |
          cd packages/ethereum-contracts
          echo "${{ github.event.inputs.environments }}" | sed 's/;/\n/' > .env
          npx truffle exec --network ${{ matrix.network }} ops-scripts/info-print-contract-addresses.js : addresses.vars
          tasks/etherscan-verify-framework.sh ${{ matrix.network }} addresses.vars
        env:
          SKIP_IF_UNSUPPORTED: 1
          ETHERSCAN_API_KEY: ${{ secrets.ETHERSCAN_API_KEY }}
          POLYGONSCAN_API_KEY: ${{ secrets.POLYGONSCAN_API_KEY }}
          SNOWTRACE_API_KEY: ${{ secrets.SNOWTRACE_API_KEY }}
          OPTIMISTIC_API_KEY: ${{ secrets.OPTIMISTIC_API_KEY }}
          ARBISCAN_API_KEY: ${{ secrets.ARBISCAN_API_KEY }}
