name: Publish master branch

on:
  push:
    branches: ["master"]

jobs:
  npm-publish-master:
    name: NPM publish master branch

    runs-on: ubuntu-latest

    env:
      NODE_AUTH_TOKEN: ${{ secrets.NPMJS_TOKEN }}
      GITHUB_TOKEN: ${{ secrets.SUPERFLUID_GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
          registry-url: https://registry.npmjs.org/

      - name: Check package versions
        id: check_versions
        run: |
          PUBLISHED_ETHEREUM_CONTRACTS_VERSION=`npm show @superfluid-finance/ethereum-contracts version`
          NEW_ETHEREUM_CONTRACTS_VERSION=`jq -r .version packages/ethereum-contracts/package.json`
          if [ "$PUBLISHED_ETHEREUM_CONTRACTS_VERSION" != "$NEW_ETHEREUM_CONTRACTS_VERSION" ];then
            echo "PUBLISH_ETHEREUM_CONTRACTS=1" >> $GITHUB_ENV
            echo "ethereum-contracts changed: $PUBLISHED_ETHEREUM_CONTRACTS_VERSION -> $NEW_ETHEREUM_CONTRACTS_VERSION"
          else
            echo ethereum-contracts unchanged: $PUBLISHED_ETHEREUM_CONTRACTS_VERSION
          fi
          PUBLISHED_JS_SDK_VERSION=`npm show @superfluid-finance/js-sdk version`
          NEW_JS_SDK_VERSION=`jq -r .version packages/js-sdk/package.json`
          if [ "$PUBLISHED_JS_SDK_VERSION" != "$NEW_JS_SDK_VERSION" ];then
            echo "PUBLISH_JS_SDK=1" >> $GITHUB_ENV
            echo "js-sdk changed: $PUBLISHED_JS_SDK_VERSION -> $NEW_JS_SDK_VERSION"
          else
            echo js-sdk unchanged: $PUBLISHED_JS_SDK_VERSION
          fi
          echo "::set-output name=NEW_ETHEREUM_CONTRACTS_VERSION::$NEW_ETHEREUM_CONTRACTS_VERSION"
          echo "::set-output name=NEW_JS_SDK_VERSION::$NEW_JS_SDK_VERSION"

      - name: Build package
        if: env.PUBLISH_ETHEREUM_CONTRACTS == 1 || env.PUBLISH_JS_SDK == 1
        run: |
          yarn install --frozen-lockfile
          yarn build

      - name: Publish ethereum-contracts package
        if: env.PUBLISH_ETHEREUM_CONTRACTS == 1
        run: tasks/publish-master.sh packages/ethereum-contracts/

      - name: Publish js-sdk package
        if: env.PUBLISH_JS_SDK == 1
        run: tasks/publish-master.sh packages/js-sdk/

      - name: Create js-sdk release draft
        if: env.PUBLISH_JS_SDK == 1
        id: create_release_js_sdk
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: js-sdk@v${{ steps.check_versions.outputs.NEW_JS_SDK_VERSION }}
          release_name: js-sdk@v${{ steps.check_versions.outputs.NEW_JS_SDK_VERSION }}
          body: |
            Changes in this Release
            ## Changed
            ## Added
            ## Fixes
            ## Breaking
          draft: true

      - name: Create contracts release draft
        if: env.PUBLISH_ETHEREUM_CONTRACTS == 1
        id: create_release_ethereum_contracts
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: ethereum-contracts@v${{ steps.check_versions.outputs.NEW_ETHEREUM_CONTRACTS_VERSION }}
          release_name: ethereum-contracts@v${{ steps.check_versions.outputs.NEW_ETHEREUM_CONTRACTS_VERSION }}
          body: |
            Changes in this Release
            ## Changed
            ## Added
            ## Fixes
            ## Breaking
          draft: true
